<footer class="footer">
  <p>
    © The BDWare Authors 2020 | Documentation Distributed under
    <a href="https://creativecommons.org/licenses/by/4.0" class="underline hover:text-blue-700">CC-BY-4.0</a>
  </p>
</footer>
